<div class="list-group">
    {{#unless recipients.length}}
        <div class="alert alert-warning">You don't have any Recipients yet. Add one now using the Recipients tab.</div>
    {{/unless}}
    {{#if recipients.length}}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Email</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>

        {{#each recipients}}
            <tr class="b-recipientList__item" data-id="{{id}}">
            <td>
                {{name}}
            </td>
            <td>
                {{type}}
            </td>
            <td class="col-md-4">
                {{email}}
            </td>
            <td>
                {{description}}
            </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>